# Web session secret. MUST BE set not empty, unique and secure enough (for more details:
# https://martinfowler.com/articles/session-secret.html)
SESSION_SECRET=

# Cors origin, docs:
# https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin
# Note: make sure https/http is set correctly here.
CORS_ORIGIN=https://recordings.example.com

# Port to bind. Must match port used to launch via makefile or docker.
# Default port: 3001
BIND_TO_PORT=3001

# Cookie domain, docs: https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies
DOMAIN=.example.com

# Cookie path as relative URL, docs:
# https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies
COOKIE_PATH=/

# Recordings path to watch
WATCH_DIR=/recordings

# Web user/password file location
HTPASSWD_FILE=./htpasswd

# By default cookie has "secure: true" set, so it does not work in http.
# Do not set this to true in production unless you know what are you doing.
#
# INSECURE_COOKIES=false
#
