.App {
  text-align: center;
}

.header {
  font-weight: 600;
  text-align: center;
}

.center {
  height: 50vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.vcenter {
  height: 75vh; /* Magic here */
  /* width: 400px; */
  text-align: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marged {
  margin: 40px;
}

.padded {
  padding: 40px;
}

.modal {
  position:"relative";
  height: 75vh;
  width: 75vw;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.video-modal {
  height: 75vh;
  width: 75vw;
}

.paddingRight {
  padding-right: 50px;
}

.padding {
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  max-width: 65vw;
}
